$screen-width-s: 768px;
$screen-width-m: 992px;
$screen-width-l: 1200px;

$highlighted-blue: #005597;
$highlighted-gold: #ffc12a;
$black-background: #181818;
$dark-grey: #616161;

$even-background: #ffffff;
$odd-background: #f5f5f5;
